#minicalendar {
	border: 1px solid;	
	border-color: #D1D1CE;
	margin-bottom: 10px;
	display: none;	
}

table.yearcal {
	border-collapse: collapse;
}

table.yearcal td{
	border: 1px solid;
	border-color: #FFFFFF;
	
	
}

tr.minical_header {
	border: 1px solid;	
	color: #FFFFFF;
	font-family: verdana; 
	font-size: 10pt;
	font-weight: bold;
	background-color: #d34f19;
	


}


tr.minical_header a{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
tr.minical_header a:active{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
tr.minical_header a:visited{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
tr.minical_header a:hover{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: underline; font-weight: bold;}


#prev_month img, #prev_year img, #next_month img, #next_year img {
	vertical-align: top;
}

td.yearcal_header {
	border: 1px solid;	
	color: #FFFFFF;
	font-family: verdana; 
	font-size: 10pt;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d34f19;


}


td.yearcal_header a{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
td.yearcal_header a:active{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
td.yearcal_header a:visited{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
td.yearcal_header a:hover{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: underline; font-weight: bold;}





td.highlight_cell, td.minical_cell, td.weekday_cell, td.event_cell, td.today_cell {
	font-family: verdana; 
	font-size: 8pt;
	padding: 3px;
	
}


td.minical_cell, td.weekday_cell {

	background-color: #F2F2EF;

}


td.highlight_cell {
	
	background-color: #FFFFFF;

}


td.weekday_cell {
	font-weight: bold;
}


td.today_cell {
	background-color: #B2D4F4;

}

td.event_cell {
	
	background-color: #5788b1;

}



td.minical_cell a, td.today_cell a, td.highlight_cell a {
	color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;
}

td.event_cell a {
	color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none;
}

td.minical_cell a:hover, td.event_cell a:hover, td.highlight_cell a:hover, td.event_cell a:hover{
	color: #000000; font-family: verdana; font-size: 8pt; text-decoration: underline;
}