#settings {
	width: 90%; margin-left: auto; margin-right: auto;
	margin-top: 0;
}


#settings p{
	font-size: 10pt;
	font-color: #4E4E4A;
	font-family: arial;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top:5px;
	margin-bottom: 5px;
	background-color: #eeeeed;
	padding-left: 10px;
	padding-right: 10px;
}

#display_settings {
	float: left; width: 49%;
	padding-right: 10px;
}
#system_settings {
	float: left; width: 49%;
	padding-right: 10px;	
}

#save_settings {
	width: 90%;
	clear: both;
	margin-left: auto; margin-right: auto;
	text-align: right;
}

#settings h3{
	font-family: arial;
	font-size: 12pt;
	margin-bottom: 4px;
	padding-bottom: 10px;
	padding-top: 20px;
	color: #000000;
	
}


#save_settings {	
	padding-top: 20px;

}


#settings label {
	width: 200px;
	float: left;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;	
	font-weight: bold;
	color: #4E4E4A;
}


#settings label i {
	font-weight: normal;
	font-size: 10pt;
}

#save_settings input{	
	padding: 10px;
	font-weight: bold;

}
